footer{
    .redes{
     color: black;
     display: grid;
     grid-template-columns: repeat(3,1fr);
     .preguntas{
        a{
            color: black;
            text-decoration: none;
        }
     }
    }
}