footer{
    .redes{
     color: black;
     display: grid;
     grid-template-columns: repeat(3,1fr);
     justify-items: center;
      
        a{
            color: black;
            text-decoration: none;
        }
        .preguntas{
            list-style: none;
        }
    }
    .bg-ultimonav {
        a{
        color:black;
    }
}
}